*,
*::before, 
*::after {
    box-sizing: border-box;
}

:root {
    --clr-light: #B5B4D9;
    --clr-med: #7D7ABF;
    --clr-dark: #393E59;
    --clr-black: #0D0D0D;
    --clr-red: #F22E62;
    --clr-dark-red: #801934;
    --fw-reg: 400;
    --fw-bold: 700;
}

body {
    margin: 0;
    background-color: var(--clr-dark);
    font-family: 'Roboto', sans-serif;
    color: white;
    line-height: 1.75rem;
}

h1 {
    font-size: clamp(2em, 4vw, 4em);
}

h2 {
    font-size: clamp(2em, 3vw, 3em);
    text-decoration: underline 6px var(--clr-red);
}

h3 {
    font-size: 2rem;
}

li {
    font-size: clamp(1em, 2vw, 2em);
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    font-size: clamp(1em, 1.5vw, 1.5em);
    font-weight: var(--fw-reg);
}

label {
    font-size: clamp(1rem, 1.5vw, 1.5rem);
}

button {
    border: none;
    font-family: 'Roboto',sans-serif;
    color: white;
}

button:hover {
    cursor: pointer;
    background-color: var(--clr-dark-red);
    color: rgb(155, 155, 155);
}

section {
    margin-left: auto;
    margin-right: auto;
    margin-top: clamp(10rem, 20vw, 20em);
    width: 80%
}

/*Header and Nav*/

header {
    background-color: var(--clr-dark);
    margin-bottom: clamp(10rem, 15vw, 15em);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.logo-name {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.logo {
    height: 100px;
    width: 100px;
}

.logo-name h2 {
    font-size: 2em;
    text-decoration: none;
}

nav {
    width: 100%;
}

.nav_list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-weight: var(--fw-bold);
    letter-spacing: 1px; 
}

.nav-link {
    text-decoration: underline 4px var(--clr-red);
}

.nav-link:hover {
    text-decoration-color: var(--clr-dark-red);
}

/*Home Section*/

.home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.headshot-contain {
    position: relative;
    padding-left: 2rem;
}

.med_circle {
    height: clamp(12em, 20vw, 20em);
    width: clamp(12em, 20vw, 20em);
    background-color: var(--clr-med);
    border-radius: 50%;
    position: absolute;
    right: 15%;
    bottom: 15%;
    z-index: -1;
}

.headshot {
    height: clamp(12em, 20vw, 20em);
    width: clamp(12em, 20vw, 20em);
    border-radius: 50%;
}

.intro {
    padding: 2em 0;
    text-align: start;
}

.intro h2 {
    color: var(--clr-light);
    font-size: clamp(1.5em, 3vw, 3em);
    text-decoration: none;
}

.hire_button {
    height: clamp(3em, 4vw, 4em);
    width: clamp(8em, 10.75vw, 10.75em);
    border-radius: 10px;
    background-color: var(--clr-red);
    text-transform: uppercase;
    font-size: clamp(1em, 1.5vw, 1.5em);
    font-weight: var(--fw-reg);
}

/*About Me Section*/

.about_me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.about_text {
    width: clamp(20em, 30vw, 30em);
    margin-bottom: 5em;
}

.circle_contain {
    position: relative;
}

.light_circle {
    height: clamp(12em, 20vw, 20em);
    width: clamp(12em, 20vw, 20em);
    background-color: var(--clr-light);
    border-radius: 50%;
}

/*Skills Section*/

.skill_contain {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 4em;
}

.skill_item {
    position: relative;
    margin-bottom: 3em;
}

#js_logo, 
#html_logo,
#css_logo {
    position: absolute;
    height: clamp(6em, 8vw, 8em);
    width: clamp(6em, 8vw, 8em);
    top: 25%;
    left: 20%;
}

#logo_circle {
    height: clamp(10em, 14vw, 14em);
    width: clamp(10em, 14vw, 14em);
}

/*Project Section */

.projects {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.projects h2 {
    width: 100%;
    margin-bottom: 4rem;
}

.card {
    background-color: var(--clr-med);
    border-radius: 10px;
    text-align: center;
    height: clamp(24rem, 28vw, 28rem);
    width: clamp(18rem, 20vw, 20rem);
    margin-bottom: 3rem;
}

.card h3 {
    margin: 0;
    padding: 1rem;
}

.card img {
    border-radius: 10px;
    height: clamp(10rem, 12vw, 12rem);
    width: clamp(15rem, 17vw, 17rem);
    margin-bottom: 1rem;
}

.descriptions {
    margin: 0 1.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.card p {
    margin: 0 1rem;
    margin-bottom: 1rem;
    background-color: var(--clr-black);
    width: fit-content;
    padding: .5rem .75rem;
    border-radius: 10px;
}

/*Contact Section*/

.contact {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contact h2 {
    margin-bottom: 4rem;
}

.contact_form {
    background-color: rgba(13, 13, 13, .6);
    border-radius: 20px;
    height: clamp(24rem, 42vw, 42rem);
    width: clamp(20rem, 36vw, 36rem);
    padding: 2rem 3rem;
    display: grid;
}

#name, 
#email, 
#message {
    border: 2px solid var(--clr-med);
    border-radius: 5px;
    background-color: transparent;
    margin-bottom: 2rem;
    color: white;
}

#submit {
    margin: 0 auto;
    height: clamp(3rem, 4vw, 4rem);
    width: clamp(6rem, 10vw, 10rem);
    border: none;
    border-radius: 5px;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    font-weight: var(--fw-bold);
    color: white;
    background-color: var(--clr-red);
}

#submit:hover {
    cursor: pointer;
    background-color: var(--clr-dark-red);
    color: rgb(155, 155, 155);
}

/*Footer*/

footer {
    background-color: rgba(13, 13, 13, .6);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials img {
    height: clamp(3rem, 4vw, 4rem);
    width: clamp(3rem, 4vw, 4rem);
    margin-inline-end: 1rem;
}

@media (min-width: 475px) {
    header {
        justify-content: space-evenly;
    }

    .home {
        justify-content: center;
        justify-content: space-evenly;
    }

    nav {
        width: 50%;
    }
}