*,
*::before, 
*::after {
    box-sizing: border-box;
}

:root {
    --clr-light: #B5B4D9;
    --clr-med: #7D7ABF;
    --clr-dark: #393E59;
    --clr-black: #0D0D0D;
    --clr-red: #F22E62;
    --fw-reg: 400;
    --fw-bold: 700;
}

body {
    margin: 0;
    background-color: var(--clr-dark);
    font-family: 'Roboto', sans-serif;
    color: white;
    line-height: 1.75rem;
}

h1 {
    font-size: clamp(2em, 4vw, 4em);
}

h2 {
    font-size: clamp(1.5em, 3vw, 3em);
}

li {
    font-size: clamp(1em, 2vw, 2em);
}

button {
    border: none;
    font-family: 'Roboto',sans-serif;
    color: white;
}

header {
    background-color: var(--clr-dark);
    margin-bottom: clamp(10rem, 15vw, 15em);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.logo-name {
    display: flex;
    align-items: center;
}

.logo-name h2 {
    font-size: 2em;
}

nav {
    width: 100%;
}

.nav_list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-weight: var(--fw-bold);
    letter-spacing: 1px; 
}

.nav-link {
    text-decoration: none;
    color: inherit;
    border-bottom: 4px solid var(--clr-red);
}

.home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.headshot-contain {
    position: relative;
    padding-left: 2rem;
}

.light_circle {
    height: clamp(12em, 20vw, 20em);
    width: clamp(12em, 20vw, 20em);
    background-color: var(--clr-med);
    border-radius: 50%;
    position: absolute;
    right: 15%;
    bottom: 15%;
    z-index: -1;
}

.headshot {
    height: clamp(12em, 20vw, 20em);
    width: clamp(12em, 20vw, 20em);
    border-radius: 50%;
}

.intro {
    padding: 2em 0;
    text-align: start;
}

.intro h2 {
    color: var(--clr-light);
}

.hire_button {
    height: clamp(3em, 4vw, 4em);
    width: clamp(8em, 10.75vw, 10.75em);
    border-radius: 10px;
    background-color: var(--clr-red);
    text-transform: uppercase;
    font-size: clamp(1em, 1.5vw, 1.5em);
    font-weight: var(--fw-reg);
}

.logo {
    height: 100px;
    width: 100px;
}

@media (min-width: 475px) {
    header {
        justify-content: space-evenly;
    }

    .home {
        justify-content: center;
        margin: 0 auto;
        justify-content: space-evenly;
    }

    nav {
        width: 50%;
    }
}